{{ember-youtube ytid=update.ytid class='pull-right'
  playing="ytPlaying" ended="ytEnded"
  autoplay=gradio.autoplay showControls=false}}
{{#each update in gradio.updates}}
  <h5><a href="{{unbound update.url}}" target='reddit'>
    {{update.post.title}}</a> - /u/{{update.post.author}}</h5>
    {{{update.comment.body_html}}}
    <footer>/u/{{update.comment.author}}</footer>
{{/each}}
