<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'ModLog' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li><a href='https://reddit.com/r/modlog/about/sticky' target='reddit'>reddit</a></li>
        <li>{{link-to 'mods' 'index'}}</li>
        <li>{{link-to 'users' 'monitor'}}</li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href='https://www.reddit.com/live/uocz16gmx2s7' target='reddit'>PRoFS gRadio <span class='glyphicon glyphicon-music'></span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class='container'>
  {{declaration-of-independence-for-reddit}}
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
<footer id='footer'>
  <hr>
  <blockquote>
    <h4>This web application claims no affiliation with reddit inc. nor does reddit inc. endorse it.</h4>
    <p>We stand for free speech. This means we are not going to ban distasteful subreddits. We will not ban legal content even if we find it odious or if we personally condemn it. Not because that's the law in the United States - because as many people have pointed out, privately-owned forums are under no obligation to uphold it - but because we believe in that ideal independently, and that's what we want to promote on our platform. We are clarifying that now because in the past it wasn't clear, and (to be honest) in the past we were not completely independent and there were other pressures acting on reddit. Now it's just reddit, and we serve the community, we serve the ideals of free speech, and we hope to ultimately be a universal platform for human discourse (cat pictures are a form of discourse).</p>
    <footer><a href='https://www.reddit.com/r/ModerationTheory/comments/1zw9rr/are_we_protected_under_reddits_tos_should_each/cfxkcwl' target='reddit'>Yishan Wong</a> former CEO of reddit /u/yishan</footer>
  </blockquote>
  <hr>
  <a href='https://reddit.com/r/modlog' target='reddit'><img src='http://i.imgur.com/BgPkRjn.png' alt='chairman pao and reddit do not endorse and have no affiliation with ModLog'/></a>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
      <blockquote>
        <p>"We do not like the idea of subreddits becoming platforms of disruption."</p>
        <footer>
          <a href='https://reddit.com/r/KotakuInAction/comments/2r6db5/official_confirmation_by_thehat2_hatman_of_reddit/' target='reddit'>Reddit Inc.</a>
        </footer>
      </blockquote>
    </div><div class='col-md-6'>
      <blockquote>
        <p>"It's not our site's goal to be a completely free-speech platform."</p>
        <footer>
          <a href='http://www.npr.org/sections/alltechconsidered/2015/05/19/407971708/reddits-new-harassment-policy-aimed-at-creating-a-safe-platform' target='reddit'>Ellen Pao</a> interim CEO of reddit /u/ekjp
        </footer>
      </blockquote>
    </div>
  </div>
  <hr>
  <h5 class='well'>
    All <a target='github' href='https://github.com/ModLog'>code</a>
    licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.
    Build stuff! {{link-to 'Privacy Policy' 'privacy'}}<br>
    <strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just a client application written in javascript.

  </h5>
  <hr>
  <h1><a href='https://reddit.com/r/snew'>/r/snew</a></h1>
</footer>
