<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'ModLog' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li>
          <a {{bind-attr href=model.loginUrl}}>
            [pressiah button]
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
<footer id='footer' class='container'>
  <hr>
  <h5>
    All <a target='github' href='https://github.com/Fair-Share'>code and concepts</a>
    are licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.  Build something!
    {{link-to 'Privacy Policy' 'privacy'}}
  </h5>
  <h5><a href='https://us.reddit.com/r/POLITIC/comments/37ovia/politicbot_was_shadowbanned_yesterday_for_spam/'>
    This app claims no affiliation with reddit inc. nor does reddit inc. endorse it.</a></h5>
  <strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just a client application written in javascript.
  <hr>
</footer>
{{#if gradio.lastUpdate.ytid}}
  {{profs-gradio update=gradio.lastUpdate class='container'}}
{{/if}}
<div class='gradio-controls'>
  <div class='btn-group'>
    {{#link-to 'radio' class='btn btn-default'}}<span class='glyphicon glyphicon-music'></span> PRoFS <span class='label label-danger'>nsfw</span>{{/link-to}}
  {{#if gradio.playlist.length}}
    <button {{action 'playPrevious'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-backward'></span></button>
    {{#if gradio.autoplay}}
      <button {{action 'stopRadio'}} class='btn btn-danger'><span class='glyphicon glyphicon-stop'></span></button>
    {{else}}
      <button {{action 'playRadio'}} class='btn btn-primary'><span class='glyphicon glyphicon-play'></span></button>
    {{/if}}
    <button {{action 'playNext'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-forward'></span></button>
  {{/if}}
  </div>
</div>
