<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'ModLog' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li><a href='https://reddit.com/r/modlog/about/sticky' target='reddit'>reddit</a></li>
        <li>{{link-to 'mods' 'index'}}</li>
        <li>{{link-to 'users' 'monitor'}}</li>
        <li><a href='https://ifttt.com/recipes/292272-ios-notify-me-when-my-content-is-removed-from-reddit' target='ifttt'>ios</a></li>
        <li><a href='https://ifttt.com/recipes/292302-see-if-your-posts-get-deleted-on-reddit-android' target='ifttt'>droid</a></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
<footer id='footer'>
  <h6>This site claims no affiliation with reddit, nor does reddit endorse this site.</h6>
  <a href='https://reddit.com/r/modlog' target='reddit'><img src='http://i.imgur.com/BgPkRjn.png' alt='chairman pao and reddit do not endorse and have no affiliation with ModLog'/></a>
  <blockquote>
    <p>"We do not like the idea of subreddits becoming platforms of disruption."</p>
    <footer>
      <a href='https://reddit.com/r/KotakuInAction/comments/2r6db5/official_confirmation_by_thehat2_hatman_of_reddit/' target='reddit'>Reddit Inc.</a>
    </footer>
  </blockquote>
  <h5>
    All <a target='github' href='https://github.com/ModLog'>code</a>
    licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.
    Build stuff! {{link-to 'Privacy Policy' 'privacy'}}
  </h5>
  <strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just a client application written in javascript.
  <hr>
  <h1><a href='https://reddit.com/r/snew'>/r/snew</a></h1>
  <blockquote>
    <p>We stand for free speech. This means we are not going to ban distasteful subreddits. We will not ban legal content even if we find it odious or if we personally condemn it. Not because that's the law in the United States - because as many people have pointed out, privately-owned forums are under no obligation to uphold it - but because we believe in that ideal independently, and that's what we want to promote on our platform. We are clarifying that now because in the past it wasn't clear, and (to be honest) in the past we were not completely independent and there were other pressures acting on reddit. Now it's just reddit, and we serve the community, we serve the ideals of free speech, and we hope to ultimately be a universal platform for human discourse (cat pictures are a form of discourse).</p>
    <footer><a href='https://www.reddit.com/r/ModerationTheory/comments/1zw9rr/are_we_protected_under_reddits_tos_should_each/cfxkcwl' target='reddit'>Yishan Wong</a> former CEO of reddit /u/yishan</footer>
  </blockquote>
</footer>
