<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'ModLog' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        {{#unless snoocore.isLoggedIn}}<li>
          {{link-to '[run /r/ModLog bot]' 'monitor'}}
        </li>{{/unless}}
        <li><a href="http://openthesafe.space/" target="snew">openthesafe.space</a></li>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
{{profs-gradio class='container'}}
<footer id='footer'>
  <div class='jumbotron'>
    <h3><a href="https://www.change.org/p/alexis-ohanian-to-step-down-from-reddit-board-and-administration-fire-alexis-ohanian?recruiter=335939671&utm_campaign=signature_receipt_twitter_dialog&utm_medium=twitter&utm_source=share_petition" target="_new">
      Petitioning Alexis Ohanian to step down from Reddit board and administration
    </a></h3>
    <h4><a href="http://www.reddit.com/r/BringBackReddit/comments/36alxp/my_open_letter_why_is_rtwoxchromosomes_the_only/" target="_new">Our struggle</a> is not over until the <a href="http://www.breitbart.com/london/2015/05/20/reddit-not-a-free-speech-platform-says-ceo/" target="_new">Orwellian Safe-Space</a> rule is repealed <a href="http://thenextweb.com/insider/2015/07/06/reddit-came-close-to-becoming-decentralized-last-year/" target="_new">What could have been...</a></h4>
    <div class='row'>
      <div class='col-md-6'>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/redditrevolt" data-widget-id="617823525743689728">#redditrevolt Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div><div class='col-md-6'>
        <a class="twitter-timeline" href="https://twitter.com/REALpolitiKbot" data-widget-id="622648213946826752">Tweets by @REALpolitiKbot</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <blockquote>
          <p>
            You can't run an army without profanity; and it has to be eloquent profanity.  An army without profanity couldn't fight it's way out of a piss-soaked paper bag.
          </p><p>
            May god have mercy upon my enemies, because I won't.
          </p>
          <footer><a href="https://twitter.com/go1dfish/status/619930966358822912" target="_new">General Patton</a></footer>
        </blockquote>
      </div><div class='col-md-6'>
        <blockquote>
          <p>
            A revolution is not a dinner party, or writing an essay, or painting a picture, or doing embroidery. It cannot be so refined, so leisurely and gentle, so temperate, kind, courteous, restrained and magnanimous. A revolution is an insurrection
          </p>
          <footer><a href="https://en.wikiquote.org/wiki/Mao_Zedong#Quotations_from_Chairman_Mao_Zedong_.28The_Little_Red_Book.29" target="_new">Chairman Mao</a></footer>
        </blockquote>
      </div>
    </div>
  </div>
  <hr>
  <h5>
    All <a target='github' href='https://github.com/Fair-Share'>code and concepts</a>
    are licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.  Build something!
    {{link-to 'Privacy Policy' 'privacy'}}
  </h5>
  <strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just a client application written in javascript.
  <h4>This web application claims no affiliation with reddit inc. nor does reddit inc. endorse it.</h4>
  <h5><a href='https://us.reddit.com/r/POLITIC/comments/37ovia/politicbot_was_shadowbanned_yesterday_for_spam/'>Quite the opposite in fact, the paper tigers who don scarlet letter in a barrel of incompetence have tried to kill this message no less than three times so far.</a></h5>
</footer>

<div class='gradio-controls'>
  <div class='btn-group'>
    {{#link-to 'monitor' class='btn btn-success'}}<span class='glyphicon glyphicon-music'></span> PRoFS <span class='label label-danger'>nsfw</span>{{/link-to}}
  {{#if gradio.playlist.length}}
    <button {{action 'playPrevious'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-backward'></span></button>
    {{#if gradio.autoplay}}
      <button {{action 'stopRadio'}} class='btn btn-danger'><span class='glyphicon glyphicon-stop'></span></button>
    {{else}}
      <button {{action 'playRadio'}} class='btn btn-primary'><span class='glyphicon glyphicon-play'></span></button>
    {{/if}}
    <button {{action 'playNext'}} class='btn btn-warning'><span class='glyphicon glyphicon-step-forward'></span></button>
  {{/if}}
  </div>
</div>
