<div class='text-center'>
Now powering
  {{#each sub in modlog.subs}}
    <a href='https://us.reddit.com/r/{{unbound sub}}' target='reddit'>/r/{{sub}}</a>
  {{/each}}
{{#if snoocore.isLoggedIn}}
  <h2>
    {{link-to 'Thank you for participating!' 'radio'}}
  </h2>
  <p>The bot will stop as soon as you close this tab, or in 1 hr</p>
{{else}}
  <h2 class='well monitor-button'>
    <a {{bind-attr href=snoocore.loginUrl}} class='btn btn-primary btn-lg'>
      [pressiah button]
    </a>
    <span class='label label-default'>
      'allow' or <a href="https://chrome.google.com/webstore/detail/modlog-lazy-pressiah-butt/ofkmlkdldhfkhbpcdfcefehljbahcieo?hl=en-US" target="chromeext">[lazy pressiah]</a>
    </span>
  </h2>
{{/if}}
</div>
